$poke-red: rgb(255,0,0);
$poke-white: rgb(255,255,255);
$poke-red-crimson: rgb(220,20,60);
$poke-red-FireBrick: rgb(178,34,34);
$poke-background: #c5c5c5;
$poke-blue: #30a7d7;
$poke-black: rgb(0,0,0);
$poke-gray: #808080;